/*  M5M Launch Complete  */
/*  Global Helpers */
:root {
        --m5lc-theme-danger: #DD4124;    --m5lc-theme-danger-alt: #810000;  /* Tangerine Tango */
        --m5lc-theme-info: #7BC4C4;      --m5lc-theme-info-alt: #1F6868;  /* Aqua Sky */
        --m5lc-theme-night: #6a6a6a;      --m5lc-theme-night-alt: #242424;  /* Charcole */
}
html, body {margin: 0; padding: 0;}
input, textarea, button, select, aside,
a { -webkit-tap-highlight-color: rgba(0,0,0,0); outline: none; user-select: none !important; }

*::-webkit-scrollbar { width: 8px; height: 8px; }
*::-webkit-scrollbar-track { background: rgba(0,66,0, .2); }
*::-webkit-scrollbar-thumb { background: var( --m5lc-theme-info-alt ); }
::selection { color: #fff; background:  var( --m5lc-theme-info ); text-shadow: none; }

.h-center { text-align: center;}
.h-left { text-align: left;}
.h-smaller {font-size: smaller !important;}
.h-nowrap {white-space: nowrap;}
.h-ital {font-style: italic;}
.h-under {text-decoration: underline;}
.h-ds__none {display: none;}
.h-ds__block {display: block;}
.h-ds__inline {display: inline;}
.h-fade { opacity: 0.4; filter: blur(8px); transition: .88s filter linear;}

/*  lgo  */
.lgo {
    font-family: 'Comfortaa', cursive;
    font-size: 44px; color: var( --m5lc-theme-info )
}
.lgo > span:nth-of-type(1) { font-weight: 500;}
.lgo > span:nth-of-type(2) { font-weight: 300;}

/*  type  */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px; color: #000;
    font-weight: 100;
}
.txt-readable {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; color: #000;
    font-weight: 300;
}
.txt-white { color: #fff;}
/*  Layout  */
main > section > article {
    width: 88%; max-width: 1200px;
    margin: 0 auto; padding: 8px;
}
main > section.sec-inverse__gray {
    background-color: #bababa;
}


/*  MQ  */
